body {
    width: 100%;
    min-width: 1300px;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #1e2123;
}
h1, h2, h3 {
    font-weight: 800;
    color: #1e2123;
    text-transform: uppercase;
}
h2 {
    font-size: 41px;
    margin-bottom: 90px;
}
h3 {
    font-size: 19px;
    margin-bottom: 25px;
}
p {
    margin-bottom: 25px;
}
.button, .button {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 15px;
    display: block;
}

body > .wrapper {
    width: 1300px;
    margin: 0 auto;
    background: url(../i/header.jpg) no-repeat 0 0;
}
.page-header {
    background-color: rgba(12, 154, 236, 0.88);
    padding: 40px 40px 0;
}
.page-header .logo {
    float: left;
}
    .page-header .logo a {
        display: block;
        width: 300px;
        height: 55px;
        background: url(../i/logo.png) no-repeat;
        text-indent: -1000px;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        line-height:55px;
    }

.page-header nav {
    float: right;
}

nav ul.h > li, ul.h > li {
    display: inline-block;
    margin-left: -4px;
}

.menu-level1 > li {
    position: relative;
}
.menu-level1 > li > a {
    position: relative;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 55px;
    color: white;
    font-size: 15px;
    font-weight: 700;
}
.menu-level1 > li:last-child > a {
    padding-right: 0;
}
.menu-level1 > li a:hover, .menu-level1 > li.active a {
    color: black;
}
.menu-level1 > li ul {
    position: absolute;
    top: 54px;
    left: 50%;
    margin-left: -80px;
    z-index: 2;
    background: #1e2123;
    padding: 15px 0 15px;
}

.menu-level1 li li a {
    display: block;
    width: 160px;
    box-sizing: border-box;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    background: #1e2123;
    color: white;
    font-size: 11px;
    font-weight: 700;
}


.menu-level1 li li:hover a {
    color: #1e2123;
    background: white;
}
.menu-level2::before, .menu-level2::after {
    content: '';
    width: 10px;
    height: 10px;
    background: #1e2123;
    position: absolute;
    top: -10px;
}
.menu-level2::before {
    left: 50%;
    margin-left: -10px;
    background: linear-gradient(to top left, #1e2123 50%, #1292e3 50%);
}
.menu-level2::after {
    left: 50%;
    background: linear-gradient(to top right, #1e2123 50%, #1292e3 50%);
}

main > section {
    position: relative;
    width: 100%;
}
section.slider {
    height: 660px;
    background-color: rgba(12, 154, 236, 0.88);
    color: white;
    overflow: hidden;
}
section header {
    width: 800px;
    margin: 190px auto 90px;
    text-align: left;
}
.slider > header {
    margin: 210px auto 100px;
}

section header h2 {
    position: relative;
    margin-left: 80px;
}
.slider h2 {
    color: white;
}
section header h2::after {
    content: '';
    width: 60px;
    height: 10px;
    background: black;
    position: absolute;
    bottom: -45px;
    left: 0;
}
.slider h2::after {
    background: white;
}
section p {
    line-height: 1.5;
    margin-bottom: 12px;
}
.slider .slider-navigation {
    position: absolute;
    bottom: 50px;
    left: 330px;
    font-weight: 800;
    font-size: 16px;
}
.slider .slider-navigation li a {
    display: block;
    padding: 7px 9px;
    border: 3px solid white;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 10px;
}
.slider .slider-navigation li a:hover {
    border: 3px solid black;
    color: black;
}
.slider .slider-navigation li.active a {
    background-color: white;
    color: #1292e3;
}

<!-- Welcome -->
section .post {

}
.post:nth-child(2n) .picture {
    float: left;
    width: 50%;
}
.post:nth-child(2n) .text {
    float: right;
    width: 50%;
}
.post:nth-child(2n+1) .picture {
    float: right;
    width: 50%;
}
.post:nth-child(2n+1) .text {
    float: left;
    width: 50%;
}
.post:nth-child(2n+1) .text h3, .post:nth-child(2n+1) .text .info {
text-align: right;
}
.post .info {
    font-size: 13px;
    margin-bottom: 10px;
}
.post .text {
    padding: 85px 50px 20px;
    box-sizing: border-box;
}
.post .text h3 {
    font-size: 19px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.post .picture {
    position: relative;
    width: 650px;
    height: 330px;
}
.post .picture.w1 {
    background: url('../d/w1.jpg') no-repeat;
}
.post .picture.w2 {
    background: url('../d/w2.jpg') no-repeat;
}
.post .picture.w3 {
    background: url('../d/w3.jpg') no-repeat;
}
.post .picture.w4 {
    background: url('../d/w4.jpg') no-repeat;
}
.post .picture a.more {
    position: absolute;
    bottom: 50px;
    border: 3px solid white;
    padding: 7px 10px;
    color: white;
    display: none;
}
.post:nth-child(2n) .picture a.more {
    left: 50px;
}
.post:nth-child(2n+1) .picture a.more {
    right: 50px;
}
.post:hover {
    background-color: rgba(12, 154, 236, 0.88);
    color: white;
}
.post:hover h3 {
    color: white;
}
.post:hover .picture::before {
    content: '';
    width: 650px;
    height: 330px;
    background: rgba(12, 154, 236, 0.88);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.post:hover .picture a.more {
    display: block;
    z-index: 2;
}

.gallery nav {
    width: 600px;
    margin-bottom: 30px;
    margin-left: 80px;
}
.gallery nav li > a, .gallery nav li > span {
    display: block;
    padding: 7px 8px;
    color: #1292e3;
    border: 3px solid #1292e3;
    margin-right: 10px;
    margin-bottom: 10px;
}
.gallery nav li.selected > span {
    background: black;
    color: white;
    border: 3px solid black;
}
.gallery nav li > a:hover {
    background: #1292e3;
    color: white;
}
.gallery li {
    position: relative;
}
.gallery li .hover {
    position: absolute;
    width: 650px;
    height: 333px;
    top: 0;
    left: 0;
    background: rgba(12, 154, 236, 0.88);
    z-index: 2;
    color: white;
    display: none;
    text-align: center;

}
.gallery li .hover h3 {
    color: white;
    margin-top: 80px;
}
.gallery li:hover .hover {
    display: block;
}
.gallery li .hover a {
    display: block;
    background: white;
    color: #1292e3;
    width: 100px;
    padding: 10px 15px;
    margin: 0 auto;
}

section > article  {
    width: 800px;
    margin: 0 auto;
}

article section h1 {
    font-size: 33px;
    margin-bottom: 30px;
    font-weight: 400;
    margin: 0 0 25px;
}
article section h1 b {
    font-weight: 800;
}
article img.previw {
    float: left;
    margin: 0 40px 25px -250px;
}
article .social {
    margin-bottom: 30px;
}
article .social a {
    display: block;
    padding: 7px 10px;
    color: #1292e3;
    border: 3px solid #1292e3;
    margin-right: 10px;
}

.skills {
    float: right;
    width: 650px;
    margin: 25px -250px 0 40px;
}
.skills h3 {
    font-size: 15px;
}

.skills p {
    margin-bottom: 10px;
    font-size: 11px;
    text-transform: uppercase;
}
.skills .progress-bar {
    position: relative;
    width: 100%;
    height: 10px;
    background: #eee;
    margin-bottom: 15px;
}

.skills .progress-bar::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    background: #1292e3;
}
.skills .progress-bar[data-done="80"]::before {
    width: 80%;
}
.skills .progress-bar[data-done="66"]::before {
    width: 66%;
}
.skills .progress-bar[data-done="92"]::before {
    width: 92%;
}
.skills .progress-bar[data-done="38"]::before {
    width: 38%;
}

.skills .progress-bar::after{
    position: absolute;
    width: auto;
    padding: 6px 12px;
    background: black;
    top: -20px;
    color: white;
    font-size: 11px;
}
.skills .progress-bar[data-done="80"]::after{
    left: 80%;
    content: '80%';
}
.skills .progress-bar[data-done="92"]::after{
    left: 92%;
    content: '92%';
}
.skills .progress-bar[data-done="66"]::after{
    left: 66%;
    content: '66%';
}
.skills .progress-bar[data-done="38"]::after{
    left: 38%;
    content: '38%';
}

.contact .map {
    float: left;
    width: 50%;
}
.contact .info {
    float: right;
    width: 50%;
}
.contact .info .inner {
    margin-left: 40px;
}
.contact .info h3 {
    font-size: 15px;
}
.contact .info p {
    margin-bottom: 30px;
}
.contact .info .links a, .contact .info .links span {
    text-decoration: none;
    font-weight: 800;
    color: #1e2123;
}
.contact .info .links a:hover, .contact .info .links span:hover {
    color: #1292e3;
}
.contact form {
    margin-top: 40px;
}
.contact fieldset {
    margin-bottom: 20px;
}
.contact fieldset label {
    display: block;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 5px;
}
.contact fieldset input {
    padding: 15px 10px;
    border: 2px solid #ccc;
    width: 340px;
}
.contact fieldset input:focus, .contact fieldset textarea:focus {
    border: 2px solid #1e2123;
}
.contact fieldset textarea {
    padding: 15px 10px;
    border: 2px solid #ccc;
    width: 340px;
}
.contact input[type="submit"]{
    border: 3px solid #1292e3;
    background: white;
    color: #1292e3;
    padding: 5px 8px;
    font-size: 15px;
    cursor: pointer;
}

.page-footer {
    margin: 220px 40px 150px;
    text-align: right;
}
.footer-menu {
    margin-bottom: 40px;
}
.footer-menu li a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 800;
    color: #1e2123;
}
.footer-menu li:last-child {
    position: relative;
}
.footer-menu li:last-child::after {
    position: absolute;
    content: '';
    width: 50px;
    height: 10px;
    background: #1e2123;
    bottom: -25px;
    right: 0;
}
.footer-menu li:last-child a {
    padding-right: 0px;
}
.page-footer .copyright {
    font-size: 11px;
}
.page-footer .copyright span {
    text-transform: uppercase;
    font-weight: 400;
}
.page-footer .copyright span b{
    font-weight: 800;
}
