body {
    width: 100%;
    min-width: 1300px;
    font-family: Arial, sans-serif;

}
 h3 {
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
}
body > .wrapper {
    width: 1300px;
    margin: 0 auto;
    background: url(../i/header.jpg) no-repeat 0 0;
}
.page-header {
    background-color: rgba(12, 154, 236, 0.88);
}
.page-header .logo {
    float: left;
}
    .page-header .logo a {
        display: block;
        width: 300px;
        height: 55px;
        background: url(../i/logo.png) no-repeat;
        text-indent: -1000px;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        line-height:55px;
    }

.page-header nav {
    float: right;
}

nav ul.h > li, ul.h > li {
    display: inline-block;
    margin-left: -4px;
}

.menu-level1 > li {
    position: relative;
}
.menu-level1 > li > a {
    position: relative;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 55px;
    color: white;
}
.menu-level1 > li a:hover, .menu-level1 > li.active a {
    color: black;
}
.menu-level1 > li ul {
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 2;
}

.menu-level1 li li a {
    display: block;
    width: 130px;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
    background: #1e2123;
    color: white;
}

.menu-level1 li li:hover a {
    color: #1e2123;
    background: white;
}

main > section {
    position: relative;
    width: 100%;
}
section.slider {
    height: 700px;
    background-color: rgba(12, 154, 236, 0.88);
    color: white;
    overflow: hidden;
}
section header {
    width: 800px;
    margin: 180px auto 100px;
    text-align: left;
}

section header h2 {
    position: relative;
    margin-left: 80px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
}
section header h2::after {
    content: '';
    width: 60px;
    height: 10px;
    background: black;
    position: absolute;
    bottom: -20px;
    left: 0;
}
.slider h2::after {
    background: white;
}
section p {
    line-height: 1.5;
    margin-bottom: 25px;
}
.slider .slider-navigation {
    position: absolute;
    bottom: 50px;
    left: 330px;
    font-weight: bold;
}
.slider .slider-navigation li a {
    display: block;
    padding: 7px 10px;
    border: 2px solid white;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 10px;
}
.slider .slider-navigation li a:hover {
    border: 2px solid black;
    color: black;
}
.slider .slider-navigation li.active a {
    background-color: white;
    color: #1292e3;
}

<!-- Welcome -->
section .post {

}
.post:nth-child(2n) .picture {
    float: left;
    width: 50%;
}
.post:nth-child(2n) .text {
    float: right;
    width: 50%;
}
.post:nth-child(2n+1) .picture {
    float: right;
    width: 50%;
}
.post:nth-child(2n+1) .text {
    float: left;
    width: 50%;
}
.post .text {
    padding: 100px 50px 20px;
    box-sizing: border-box;
}
.post .text h3 {
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.post .picture {
    position: relative;
    width: 650px;
    height: 330px;
}
.post .picture.w1 {
    background: url('../d/w1.jpg') no-repeat;
}
.post .picture.w2 {
    background: url('../d/w2.jpg') no-repeat;
}
.post .picture.w3 {
    background: url('../d/w3.jpg') no-repeat;
}
.post .picture.w4 {
    background: url('../d/w4.jpg') no-repeat;
}
.post .picture a.more {
    position: absolute;
    bottom: 50px;
    display: block;
    border: 3px solid white;
    padding: 10px 15px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    display: none;
}
.post:nth-child(2n) .picture a.more {
    left: 50px;
}
.post:nth-child(2n+1) .picture a.more {
    right: 50px;
}
.post:hover {
    background-color: rgba(12, 154, 236, 0.88);
    color: white;
}
.post:hover .picture::before {
    content: '';
    width: 650px;
    height: 330px;
    background: rgba(12, 154, 236, 0.88);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.post:hover .picture a.more {
    display: block;
    z-index: 2;
}

.gallery nav {
    width: 600px;
    margin-bottom: 25px;
}
.gallery nav li > a, .gallery nav li > span {
    display: block;
    padding: 10px 10px;
    color: rgba(12, 154, 236, 1);
    border: 1px solid rgba(12, 154, 236, 1);
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 5px;
    margin-bottom: 10px;
}
.gallery nav li.selected > span {
    background: black;
    color: white;
    border: 1px solid black;
}
.gallery nav li > a:hover {
    background: rgba(12, 154, 236, 1);
    color: white;
}
.gallery li {
    position: relative;
}
.gallery li .hover {
    position: absolute;
    width: 650px;
    height: 333px;
    top: 0;
    left: 0;
    background: rgba(12, 154, 236, 0.88);
    z-index: 2;
    color: white;
    display: none;
    text-align: center;

}
.gallery li .hover h3 {
    margin-top: 80px;
}
.gallery li:hover .hover {
    display: block;
}
